table {
    width: 100%;
}

.wrapper {
    align-items: flex-start;
}


.result {
    width: 70%;
    margin-left: 10px;
}

.wrapper table td {
    color: black;
    background-color: #E0FFFF;
    font-size: 14px;
    font-weight: 500;
    border: 2px solid #4682B4;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    border-radius: 0.25rem;
}

.wrapper table td:nth-child(2) {
    text-align: left;
}

@media (max-width: 577px) {
    .wrapper {
        flex-wrap: wrap;
    }

    .inputsDiv,
    .result {
        width: 100%;
    }

    .result {
        margin-left: 0;
    }

}