h3 {
    margin-bottom: 30px;
}

p[data-result] {
    color: #4169E1;
}

.robotImg {
    width: 30%;
    display: block;
    max-width: 170px;
    flex-shrink: 0;
}

@media (max-width: 769px) {
    .wrapper {
        flex-wrap: wrap;
    }

    .robotImg,
    .inputsDiv,
    .result {
        width: 50%;
    }
}

@media (max-width: 577px) {

    .robotImg,
    .inputsDiv,
    .result {
        width: 100%;
    }
}