.guessCellText {
    text-align: center;
    color: #4169E1;
    font-weight: bold;
}

.count {
    text-align: center;
    color: #008080;
    font-weight: bold;
}

span[data-color="count"] {
    color: #8B0000;
}

span[data-color="result"] {
    color: green;
}

button.guess-cell-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table.cells td {
    color: black;
    background-color: #E0FFFF;
    font-size: 16px;
    font-weight: 600;
    border: 3px solid #4682B4;
    width: 50px;
    height: 50px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}

table.cells td:hover {
    cursor: pointer;
}

img.cell {
    height: 34px;
}

table.cells td.borderGreen {
    border-color: green;
}

table.cells td.borderRed {
    border-color: red;
}

@media (max-width: 769px) {
    table.cells td {
        font-size: 14px;
        border-width: 2px;
        width: 40px;
        height: 40px;
        padding: 3px;
    }
    img.cell {
        height: 30px;
    }
}

@media (max-width: 577px) {
    .main-task{
        width: 100%;
     }

     table.cells td {
        font-size: 10px;
        border-width: 1px;
        width: 25px;
        height: 25px;
        padding: 2px
    }

    img.cell {
        height: 19px;
    }

    .main-task p {
        padding: 5px;
    }
}