.wrapper {
    align-items: flex-start;
}

.form-check {
    width: 150px;
    text-align: left;
}

.result {
    width: 70%;
}

.result p {
    font-size: 16px;
    font-weight: 500;
    text-indent: 20px;
    text-align: left;
}

h5 {
    color: #4169E1;
}

p.error {
    font-size: 20px;
    color: red;
}

img {
    display: block;
    width: 70px;
    margin-bottom: 10px;
}

@media (max-width: 577px) {
    .wrapper {
        flex-wrap: wrap;
    }

    .inputsDiv,
    .result {
        width: 100%;
    }

    .result {
        margin-left: 0;
    }

    h5 {
        margin-bottom: 5px;
    }

    img {
        margin-top: 10px;
    }
}